@{
    ViewData["Title"] = "About";
}


<div class="d-flex justify-content-between flex-wrap w-100">
    <div class="d-flex justify-content-between flex-column aboutTextContainer">
        <div>&nbsp;</div>
        <div class="aboutTitle">
            Baked with love and joy to make your moment unforgettable.
        </div>
        <div class="aboutText">
            We are three Portuguese women from Madeira Island, who decided to create their own cake facture. We want to add value to your events!
        </div>
        
    </div>
    <div class="mb-auto">
        <div class="d-flex justify-content-between flex-column rightImage">
            <img class="indexCakeImage" src="/Img/Img-about@2x.png" />
            <img src="/Img/line-ondas.svg" />
        </div>
        
    </div>

</div>

