@{
    ViewData["Title"] = "Contacts";
}


<div class="d-flex justify-content-between flex-wrap w-100">
    <div class="d-flex justify-content-center flex-column"">
        <div class="mb-auto">&nbsp;</div>
        <img class="mb-auto contactImage" src="/Img/contact-text.svg" />
        <div class="indexTextDiv contactText">
            <strong>The Bakerly Street, London UK</strong><br/>
            thecakefactory@mail.com<br />
            +44 124 255 5454
        </div>
        <div class="mb-auto">&nbsp;</div>

    </div>
    <div class="mb-auto rightImage">
        <img class="indexCakeImage" src="/Img/Img-Contacts@2x.png" />
    </div>

</div>

