@{
    ViewData["Title"] = "Home Page";
}

  
<div class="d-flex justify-content-between flex-wrap w-100">
    <div class="d-flex justify-content-between flex-column"">
        <img class="mb-auto indexlogoImage" src="/Img/LOGO.svg" />
        <div class="indexTextDiv">
            <div class="indexText">Discover our homemade cakes</div>
            <a href="/Home/Order"><button class="buttonCake" id="buttonExploreAndCreate">
                Explore and Create
            </button>
            </a>
        </div>
    </div>
    <div class="mb-auto">
        <img class="rightImage" src="/Img/imagem-home@2x.png" />
    </div>
    
</div>

