@{
    ViewData["Title"] = "About";
}


<div class="d-flex justify-content-between flex-wrap w-100">
    <div class="d-flex justify-content-between flex-column aboutTextContainer">
        <div>&nbsp;</div>
        <div class="orderSuccessTitle">
            Thank you for your order! <br/>
            We will contact you within next 24 hours.
        </div>
        <div>&nbsp;</div>
    </div>
    <div class="mb-auto">
        <div class="d-flex justify-content-between flex-column">
            <img class="rightImage" src="/Img/IMG-loading@2x.png" />
        </div>

    </div>

</div>

